<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" style="text-align: center;">
                    <img alt="image" class="" style="width: 125px;" src="../../admin/assets/img/" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold"> Tecorb Admin</span>

                    </a>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li id="dashboard-nav">
                <a href="/admin/dashboard"><i class="fa fa-tachometer"></i> <span class="nav-label">Dashboard</span></a>
            </li>
            
            
           
            <li id="FAQ-nav">
                <a href="/admin/FAQ"><i class="fa fa-info-circle"></i> <span class="nav-label">FAQs</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-cogs"></i> <span class="nav-label">Settings</span></a>
                <ul class="nav nav-second-level">
                    <li id="app-nav"><a href="/admin/adminsetting">App Version</a></li>
                    <li id="changepassword-nav"><a href="/admin/changepassword">Change Password</a></li>
                </ul>

            </li>


        </ul>

    </div>
</nav>


